<div class='well'>
  <h3 class='page-header'>Latest Comments</h3>
  <ul class='unstyled' id="commentList">
    <li>
      <%= image_tag(current_user.avatar.normal) %>
      <h5>By Bella_Kentucky 22/02/2013 at 04h12</h5>
      <p>oks taller because of her long and quite shapely legs and great proportions. What can I say, it is great when you are a kid and think life is easy because growing up makes you change your mind so nina dobrev full sex tape that period is the best one in everyo
      </p>
	    <hr>
    </li>
  </ul>
</div>
