<div class="fb-api">
  <h3>Facebook</h3>
  <p>
    <iframe class="iframe-fb" src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FWIRED.tw&amp;width=292&amp;height=297&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=true&amp;header=false&amp;appId=337912959569337" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:300px;" allowtransparency="true"></iframe>
  </p>
</div>

