<div id="gplus_css"><h3>Google+</h3>
  <!-- Place this tag where you want the badge to render. -->
  <div id="gplus_wrap">
    <div class="g-plus" data-href="//plus.google.com/109588762787648337178" data-rel="publisher"></div>
  </div>
</div>

<!-- Place this tag after the last badge tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'zh-TW'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

