<div>
  <h3>Social Enterprise</h3>
  <p>
    <img alt="Images?q=tbn:and9gcslws-11__ksxvw0fc4pdgd-inh9ax7zbfpavlb5kepovn5lwzl" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSLwS-11__KSxvW0Fc4pDgD-iNh9aX7zbfpAvlb5kePOvn5lWzL" width="100%" style="margin-bottom: 0">
  </p>
</div>