<div class="soc-container" style="<%= 'margin-bottom: 30px;' if params[:controller] == "home" %>" >
  <h3>Subscribe Wired</h3>
  <ul class="clearfix">
    <li><a href="http://www.facebook.com/WIRED.tw" class="soc-fb" target="_blank">Facebook</a></li><li><a href="https://plus.google.com/u/0/109588762787648337178/posts" class="soc-google" target="_blank">Google</a></li>
    <li><a href="http://www.plurk.com/wiredtw" class="soc-plurk" target="_blank">Plurk</a></li>
    <li><a href="https://twitter.com/wired_tw" class="soc-twitter" target="_blank">Twitter</a></li>
    <li><a href="http://www.youtube.com/user/WiredTW" class="soc-utube" target="_blank">Youtube</a></li>
  </ul>
</div>

