<div class="row-fluid cpanel_full_form">
  <div class="span12">
    <h3>Caches</h3>
    <table class="table table-striped">
      <thead>
        <tr class='noborder'>
          <th>Action</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><%= link_to("Clear All cached Pages.", cpanel_root_path(:cache => "clear_posts"), 'data-confirm' => "Are you sure ?") %></td>
          <td>Clean all page caches of whole site.</td>
        </tr>
        <tr>
          <td><%= link_to("Clear Homepage caches.", cpanel_root_path(:cache => "clear_home"), 'data-confirm' => "Are you sure ?") %></td>
          <td>Clean root_path cached elements.</td>
        </tr>
        <tr>
          <td><%= link_to("Clear all RSS/ATOM Feeds caches.", cpanel_root_path(:cache => "clear_feeds"), 'data-confirm' => "Are you sure ?") %></td>
          <td>Clean all RSS/ATOM feeds cache.</td>
        </tr>
      </thead>
    </table>

</div>

