<li class="footer-gq">
  <ul>
    <li class="logo"> <a class="gq" href="http://www.gq.com.tw/" target="_self"></a> <a class="taiwan" href="http://www.gq.com.tw/" target="_blank">Taiwan</a> <a class="facebook" href="http://www.facebook.com/GQTaiwan" target="_blank">Facebook</a> </li>
    <li class="seperator-gq">World Wide GQ</li>
    <li class="country-links">
      <ul>
        <li>
          <ul>
            <li><a href="http://www.gq.com.au/" target="_blank">Australia</a></li>
            <li><a href="http://www.gq.com.cn/" target="_blank">China</a></li>
            <li><a href="http://www.gqmagazine.fr/" target="_blank">France</a></li>
            <li><a href="http://www.gq-magazin.de/" target="_blank">Germany</a></li>
            <li><a href="http://www.gqmagazine.in/" target="_blank">India</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="http://www.menstyle.it" target="_blank">Italy</a></li>
            <li><a href="http://www.gqjapan.jp/" target="_blank">Japan</a></li>
            <li><a href="http://www.style.co.kr/gq/" target="_blank">Korea</a></li>
            <li><a href="http://www.xl.pt/mrkt/gq/" target="_blank">Portugal</a></li>
            <li><a href="http://www.gq.co.za/" target="_blank">South Africa</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="http://www.gq.ru/" target="_blank">Russia</a></li>
            <li><a href="http://gq.com.mx/" target="_blank">Mexico</a></li>
            <li><a href="http://www.revistagq.com/" target="_blank">Spain</a></li>
            <li><a href="http://www.gq-magazine.co.uk/" target="_blank">U.K.</a></li>
            <li><a href="http://www.gq.com/?us_site=y" target="_blank">U.S.</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</li>

