<div class="sponsor wrapper clearfix">
  <ul class="clearfix">
    <li><a href="http://facebook.com" class="sp-fb" target="_blank">Facebook</a></li>
    <li><a href="http://appworks.tw" class="sp-appworks" target="_blank">appWorks</a></li>
    <li><a href="http://www.ibm.com" class="sp-ibm" target="_blank">IBM</a></li>
    <li><a href="http://www.trendmicro.tw" class="sp-trend" target="_blank">TrendMicro</a></li>
    <li><a href="http://etusolution.com" class="sp-etu" target="_blank">Etu</a></li>
  </ul>
</div>

