<li class="footer-vogue">
  <ul>
    <li class="logo"> <a class="vogue" href="http://www.vogue.com.tw/" target="_blank"></a> <a class="taiwan" href="http://www.vogue.com.tw/" target="_blank">Taiwan</a> <a class="facebook" href="http://www.facebook.com/VogueTW" target="_blank">Facebook</a> </li>
    <li class="seperator-vogue">World Wide VOGUE</li>
    <li class="country-links">
      <ul>
        <li>
          <ul>
              <li><a href="http://www.vogue.com.au/" target="_blank">Australia</a></li>
              <li><a href="http://vogue.globo.com/" target="_blank">Brazil</a></li>
              <li><a href="http://www.vogue.com.cn/" target="_blank">China</a></li>
              <li><a href="http://www.vogue.fr/" target="_blank">France</a></li>
              <li><a href="http://www.vogue.de/" target="_blank">Germany</a></li>
            </ul>
        </li>
          <li>
          <ul>
              <li><a href="http://www.voguehellas.gr/" target="_blank">Greece</a></li>
              <li><a href="http://www.vogue.in/" target="_blank">India</a></li>
              <li><a href="http://www.vogue.it/" target="_blank">Italy</a></li>
              <li><a href="http://www.vogue.co.jp/" target="_blank">Japan</a></li>
              <li><a href="http://www.style.co.kr/vogue/" target="_blank">Korea</a></li>
            </ul>
        </li>
          <li>
          <ul>
              <li><a href="http://www.xl.pt/mrkt/vogue/" target="_blank">Portugal</a></li>
              <li><a href="http://www.vogue.ru/" target="_blank">Russia</a></li>
              <li><a href="http://www.vogue.mx/" target="_blank">Mexico</a></li>
              <li><a href="http://www.vogue.es/" target="_blank">Spain</a></li>
              <li><a href="http://www.vogue.com.tr/" target="_blank">Turkey</a></li>
            </ul>
        </li>
          <li>
          <ul>
              <li><a href="http://www.vogue.co.uk/" target="_blank">U.K.</a></li>
              <li><a href="http://www.vogue.com/?us_site=y" target="_blank">U.S.</a></li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
            </ul>
        </li>
      </ul>
    </li>
  </ul>
</li>
