<li class="footer-wired">
  <ul>
    <li class="logo"> <a class="wired" href="http://www.wired.tw/" target="_blank"></a> <a class="taiwan" href="http://www.wired.tw/" target="_blank">Taiwan</a> <a class="facebook" href="http://www.facebook.com/WIRED.tw" target="_blank">Facebook</a> </li>
    <li class="seperator-wired">World Wide Wired</li>
    <li class="country-links">
      <ul>
        <li>
          <ul>
            <li><a href="http://www.wired.it/" target="_blank">Italy</a></li>
            <li><a href="http://wired.jp/" target="_blank">Japan</a></li>
            <li><a href="http://www.wired.co.uk/" target="_blank">U.K.</a></li>
            <li><a href="http://www.wired.com/" target="_blank">U.S.</a></li>
            <li>&nbsp;</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</li>

