<div id="post_inner" class="box">
  <div class="divider_cap"><span>Wired Jobs</span></div>
  <%= image_tag("#{Setting.aws_static}/abouts/contact.jpg") %>
  <h2>聯絡我們 Contact US</h2>
  <hr>
  <pre id="post_content">
    編輯部 Editorial Team <%= link_to("tips@wired.tw", "mailto:tips@wired.tw") %>
    客服部 Contact Team <%= link_to("contact@wired.tw", "contact@wired.tw") %>
    商務部 Commercial Team <%= link_to("commercial@wired.tw", "mailto:commercial@wired.tw") %>
  </pre>
</div>
