<div id="post_inner" class="box">
  <div class="divider_cap"><span>Wired Jobs</span></div>
  <%= image_tag("#{Setting.aws_static}/abouts/recruit.jpg") %>
  <h2>Wanted!!</h2>
  <hr>
  <div id="post_content">
  <h3>1. 網站編輯</h3>
  <p>一年以上文字編輯相關工作經驗。熟悉網路新聞編輯流程，能編能寫尤佳。細心和耐心，很會看圖說話。無法忍受錯字，每天都有文字慾。下標如神。關注科技、人文議題。加分條件：英文閱讀能力優異，具基本日文、德文、義大利文的閱讀能力更佳。
  <h3>2. 駐站作家</h3>
  <p>等 WIRED 來台灣等到望穿秋水，比 iPhone 迷更早懂得什麼叫執迷不悔。歡迎你，成為 WIRED 的活招牌。以上，無經驗可，態度比經驗更重要。請備好履歷自傳，附上過往作品。jobs@wired.tw</p>
  </div>
</div>
