<div id="post_inner" class="box">
  <div class="divider_cap"><span>Privacy</span></div>
  <pre id="post_content">
<h2>WIRED.TW 使用者合約暨隱私權政策</h2>
WIRED.tw（以下分別或合稱「本網站」）為康泰納仕樺舍集團關係企業 (包含康泰納仕綜合媒體事業有限公司、康泰納仕時尚網有限公司、樺舍文化事業股份有限公司及樺舍公關顧問股份有限公司)（以下稱「本公司」）所經營，您在使用本網站相關服務時，均需詳細閱讀下列各項使用者約款，並遵從下述條款。如果您不能夠同意這些規則，請不要使用相關服務。為保障您使用本網站之網路安全及個人資料，特此訂定此本「使用者約款暨隱私權政策」。請您在使用本網站之前，詳細閱讀本「使用者約款暨隱私權政策」，並確實遵守。若您繼續使用本網站服務，即表示您同意「使用者約款暨隱私權政策」之內容，並同意本公司蒐集、處理及利用您的個人資料。

<h3>版權宣告</h3>
本網站中所有內容之智慧財產權，均為本公司所有，請勿自行使用、轉載、修改、重製、發行、公開發表、散佈、出租、發行、公開傳輸、公開發表、進行還原工程、解編或反向組譯，若需此方面的服務，請與本公司/本網站相關部門人員接洽。以下聲明並不包含由本網站連結到屬於第三方之網站。

<h3>隱私權聲明</h3>
1、原則上您進入本網站時，並不需要輸入個人資料。但當您要使用特定服務時，本網站會請您同意並輸入您的個人資料。
2、個人資料之類別：當您申請註冊為本網站會員時，本公司會請您提供您下列類別的個人資料，如：姓名、住址、電子郵件信箱、出生年月日、性別、身分證統一編號、薪資、信用卡或簽帳卡之號碼、銀行帳戶之號碼與姓名、連絡電話 休閒活動及興趣愛好等。
3、同意個人資料之蒐集、處理、利用或國際傳輸：您了解並同意本公司依本「使用者約款暨隱私權政策」及相關法規，蒐集、處理、利用或國際傳輸您所提供的個人資料。您了解並同意本公司基於技術支援需要，係委託流線傳媒股份有限公司及里斯特資訊媒體股份有限公司（以下稱「受託機關」）蒐集、處理、利用或國際傳輸您所提供的個人資料。
4、不提供個人資料之影響：您可自由選擇是否提供您上述的個人資料，但當您不同意提供時，您將無法享有本網站所提供之特定會員服務。
5、蒐集之特定目的：本公司所蒐集您的個人資料係用於：
  (1) 使用者身分判定；
  (2) 本網站及本網站合作夥伴為聯絡使用者、請款、寄送商品、發票或宣傳資料；
  (3) 辦理贈品／獎品寄送及稅務等相關用途。受贈人/受獎人並應依中華民國稅法規定，將獎項所得列入受贈人／受獎人年終綜合所得稅申報；
  (4) 提供相關行銷活動；
  (5) 商業與技術資訊；
  (6) 客戶管理；
  (7) 會員管理；
  (8) 客戶服務；
  (9) 行銷；
  (10) 資訊與資料庫管理；
  (11) 統計調查與分析等目的；
  (12) 個人資料之交易；
  (13) 消費者保護與交易準則；及
  (14) 其他合於營業登記項目之蒐集、處理、利用或國際傳輸。
6、個人資料利用之期間：除本使用者約款暨隱私權政策另有約定者外，您可隨時終止您與本公司之會員關係。本公司及受託機關將於您成為會員之時起，直至您不再屬於本公司會員而通知本公司停止處理、利用或刪除您的個人資料時止，處理、利用或國際傳輸您的個人資料。
7、個人資料利用之地區：本公司及受託機關之個人資料主機、相關網路伺服器主機所在地及本公司/本網站相關服務或商品發行或行銷地區，為您個人資料利用之地區。
8、個人資料利用之對象：本公司、受託機關及相關委外之協力廠商(例如：供應商、提供物流、金流或活動贈品之廠商)，為您個人資料利用之對象。
9、您對個人資料之權利：在不違反相關法律的情況下，於本公司確認該個人資料為您本人所有後，您可以撥打02-27328899或 0800-011228聯絡本公司/本網站客戶服務專線，或將您的需求郵寄至本公司/本網站的電子郵件信箱readerservice@condenast.com.tw ，以行使下列之權利：
  (1) 查詢、閱覽、補充或更正您的個人資料。
  (2) 停止蒐集、處理或利用您的個人資料。
  (3) 刪除您的個人資料。
  (4) 製給您個人資料的複製本。
  (5) 停止寄發給您本網站相關廣告及行銷活動。
10、除下列情形外，本公司及受託機關不會任意將用戶的個人資料出售、轉讓或揭露予任何第三人：
  (1)本公司在與其他第三人合辦或協辦活動時，與該第三人共用、傳遞您的資料，才能夠提供您要求的產品或服務資料。惟本網站會於各該活動頁面明確告知您的個人資料將因參與該活動而提供予合辦或協辦之第三人，如您選擇參與該活動，即表示您瞭解並同意將該個人資料為各該活動之目的提供予合辦或協辦之第三人。
  (2)本公司/本網站將因法律規定、法院命令、行政調查或其他法律程序的要求而提供您的資料，惟在此情形下，該資料只會單純提供予調查單位，並受中華民國相關法律的保護。
  (3)為了調查和防止非法活動、涉嫌詐欺、對人身安全有潛在威脅的狀況、對本公司/本網站服務條款的違反，或為了對上述情形採取應對措施。
  (4)本網站或本公司被其他公司收購或合併，我們有權利將您的個人資料移轉給該公司。如果發生這種情況，本網站會在您的個人資料被移轉且將適用不同的隱私權政策前通知您。
11、本公司/本網站有權隨時視實際情形修訂本「使用者約款暨隱私權政策」，本「使用者約款暨隱私權政策」有重大變更時，本網站會將通知傳送至您所提供之電子郵件地址，並於本網站上張貼公告，您有義務隨時注意本「使用者約款暨隱私權政策」有無更新或修訂。 如您不同意所變更之內容，得隨時選擇退出相關服務，並請您立即停用本網站之服務，如您繼續使用本網站，即表示您同意本隱私權政策變更之內容。

<h3>Cookies</h3>
1、本網站會於您的電腦設定並取用 cookies。
2、本網站允許在本網站上擺放廣告或活動的廠商在您的電腦設定並取用 cookies。在此情形下應適用各該廠商自訂的隱私權保護政策。
3、cookies的使用是為了追蹤您在本網站的活動，以利我們進行站台的各種分析、資料蒐集，進而提供您本網站更好的服務。
4、如果您不想接受本網站的cookies，可透過網路瀏覽器的選項設定拒絕 cookies，但此舉可能造成您在使用本網站的部份服務時受到限制。
其他網站使用
本網站上可能包含其他合作的外部網站資訊或其網頁連結，這些外部網站也可能會蒐集您的個人資料，但不論其內容或其隱私權政策，皆與本網站無關，請您務必瞭解並審慎決定是否要提供您的個人資料。本網站對任何外部網站的行為，均不負任何擔保或連帶責任。 

<h3>兒童及青少年保護</h3>
未滿二十歲之未成年人或其他無完全行為能力的使用者向本網站申請註冊使用服務時，應先請您的家長、法定代理人或監護人閱讀本「使用者約款暨隱私權政策」，並取得家長、法定代理人或監護人的同意，方得使用或繼續使用本網站，若否，請立即停止使用本網站。當您使用或繼續使用本網站時，即表示您的家長（或監護人）已閱讀、瞭解並同意接受本「使用者約款暨隱私權政策」之所有內容及其後修改變更之內容。

<h3>自我安全防護</h3>
如您與他人共用電腦、或使用公用電腦時，瀏覽完本網站後，請登出並關閉瀏覽器視窗，以保護您個人資料的安全。

<h3>個人資料之安全 </h3>
本公司及受託機關將依相關法律規定，採取適當的技術性和組織性等安全措施，保護您所提供的個人資料，本公司並會依相關法令對受託機關進行適當之監督。但請注意，儘管本公司及受託機關會盡力保護您的個人資料，仍無法保證您的個人資料百分之百不會遭受第三人之非法攔截、傳送或盜駭。 

<h3>服務的使用</h3>
1、在本網站的使用服務權利僅限於個人，您不可將在本站上的個人服務轉給他人使用，如此的話，您將為該行為之後果負全部責任。
2、本網站所提供的服務或商品，僅限於供您個人使用，本網站並享有智慧財產權等相關權益，除經本網站同意外，不得轉用於其他用途，或將之公開營利。

<h3>意見公布規則</h3>
1、本網站對於使用者在站內公布的言論不負任何法律責任，此言論的責任應由發表人自負，且本網站有權刪除不適當的言論。
2、您同意不在本網站公布任何猥褻、破壞名譽、辱罵、騷擾、仇恨等言論，亦不得散布垃圾郵件或未授權廣告、侵入任何人隱私、從事或鼓勵任何犯罪行為。本網站對上述言論保留刪除與否之權利，並有權在不通知會員的情況下拒絕、修改或移除其內容，或為其他適當之處置。
3、當您在本網站使用第三者提供的服務時，您同意遵守該第三者所訂定的服務規則。 

<h3>對服務的存取終止</h3>
1、您 公布 同意本網站得依自行考量或因任何理由，包含但不限於一定期間未使用本網站之服務、法院或政府機關命令、您自行請求、本網站無法繼續、本網站所提供之服務內容發生實質變更或無法預期的技術或安全問題、您具有詐欺或違法之行為、未依約支付費用（若有），或其他本網站認為您已經違反本「使用者約款暨隱私權政策」的明文規定及目的，而終止您的密碼、帳號（或其任何部分）及/或本網站之使用。此外，若您被終止使用本網站，本網站對您或任何第三人均不承擔任何責任。
2、您同意您的網站會員帳號係不可轉讓，且您網站會員帳號或帳號中之任何權利，於您死亡時即立刻終止，本網站並無繼續維持或保存您的帳號及帳號中內容之義務。
3、在下列情形，本網站將暫停或中斷本服務之全部或一部，且對使用者所受任何直接或間接之損害，均不負任何責任：
  (1)對本網站相關軟硬體設備進行搬遷、更換、升級、保養或維修時；
  (2)使用者具有違反政府法令或本使用條款之情形；
  (3)天災或其他不可抗力所致之服務停止或中斷；
  (4)其他不可歸責於本網站之事由所致之服務停止或中斷。

<h3>使用者應遵守之法律義務及承諾</h3>
當您使用本網站時，應遵守中華民國法令之規定及相關網際網路之國際慣例，您若是中華民國管轄領域以外之使用者，並應遵守所屬國家或地方之法令，絕不為任何非法目的或以任何非法方式使用本網站，亦不得利用本網站侵害他人權益及為違法或不當之行為，否則本網站有權立刻終止您使用本網站之權利。前述違法或不當之行為包括但不限於：
1、刊登、公布或傳送任何誹謗、侮辱、詐欺、猥褻、色情、賭博或其他違反法令、公序良俗之文字、圖片或其他資料於本網站；
2、刊登、傳送任何侵害他人智慧財產權（包括但不限於商標、著作、專利權、營業秘密等）、名譽、隱私權或其他權益之資訊；
3、違反依法令或契約所應負之保密義務；
4、未經授權進入會員服務系統或是與系統有關之網路、冒用他人帳號或偽造寄件人辨識資料而傳送郵件；
5、傳輸、散佈電腦病毒或其他足以破壞、干擾電腦系統或資料之程式或資訊；
6、從事不法交易行為或張貼虛假不實、引人犯罪之訊息；
7、販賣槍砲、刀械、毒品、禁藥、盜版軟體或其他法令所禁止販賣或利用網路銷售之物品；
8、提供賭博資訊或其他引誘他人參與賭博的訊息；
9、濫發廣告郵件或其他垃圾信件；
10、未經同意蒐集他人電子郵件位址及其他個人資料；
11、偽造訊息來源或以任何方式干擾傳輸來源之認定；
12、干擾或中斷本服務、伺服器或連結本服務之網路，或不遵守連結至本服務之相關需求、程序、政策或規則等；
13、追蹤、干擾或為前述目的而蒐集、儲存他人之個人資訊；
14、其他本網站有正當理由認為不適當之行為。

<h3>服務系統中斷或故障</h3>
本網站系統有時候可能會發生中斷或故障等現象，或許會造成您使用上的不便、資料喪失、錯誤、被竄改或其他任何財產上或非財產上損害等情形，您於使用本網站時，應自行採取防護措施。對於您因使用（或無法使用）本網站而造成的損害，除本網站/本公司具有故意或重大過失外，本網站及本公司不負任何賠償責任。

<h3>廣告</h3>
廣告商或產品、服務之供應商，於本網站刊登之廣告內容、產品圖片或其他買賣資訊，本網站僅接受委託予以刊登，就其內容不作實質審查或任何修改，因此，就前揭內容之正確性及可信度，本網站不負擔保責任。您對於廣告之正確性與可信度應自行斟酌與判斷。

<h3>買賣或其他交易行為</h3>
1、本公司、其他廠商或個人可能透過本網站或經由本網站連結之其他網站提供商品買賣、服務或其他交易行為，您若係與本公司以外之廠商或個人進行交易，各該買賣或其他合約均僅存在於您與各該廠商或個人之間。您應要求各該廠商或個人，就其商品、服務或其他交易標的物之權利、品質、內容、運送、保證事項、退換貨與瑕疵擔保責任等，事先加以詳細闡釋與說明。
2、您若係與本公司以外之廠商或個人進行交易，您因各該買賣、服務或其他交易行為所產生之爭執，應向各該廠商或個人尋求救濟或解決之道，本網站聲明絕不介入您與該廠商或個人間的任何買賣、服務或其他交易行為，對於您所獲得的商品、服務或其他交易標的物亦不負任何擔保責任。
3、再次提醒您，在您使用本網站進行各種交易行為時，可能會使用到本公司的其他合作廠商或業務夥伴所提供的服務（如金流、物流服務等），在此情形下，您應仔細閱讀並遵守各該廠商或業務夥伴所提供之使用者條款及/或隱私權條款，以保障您的權益。

<h3>準據法及管轄法院</h3>
您所同意本「使用者約款暨隱私權政策」所有規定及本網站所有權利義務均以中華民國法律為準據法。如對本「使用者約款暨隱私權政策」有任何爭議，均應依當時有效之中華民國仲裁法及中華民國仲裁協會之規則進行仲裁。
再次提醒您，如果您無法遵守本「使用者約款暨隱私權政策」，請勿使用本網站之服務，若您持續使用，便表示您同意本「使用者約款暨隱私權政策」，謝謝您的合作。

康泰納仕時尚網有限公司 Condenet.tw Ltd.
如果您對上述隱私權宣告有任何疑議，敬請來信 contact@wired.tw 告知，我們誠摯的感謝您對 WIRED.tw的關愛。

  </pre>
</div>
