<header>
  <h3>Wired Staff</h3>
</header>
<section class="clearfix">
  <h3>WIRED Taiwan | STAFF</h3>
  <div class="chief">
    <div class="staffs">
      <h3></h3>
      <mark>總編輯<br>
        Editor in Chief</mark>
      <h4>程九如<br>
        Nice Cheng</h4>
      <p> <a href="mailto:nice@condenast.com.tw" class="mailto">nice@condenast.com.tw</a><br>
        <a>&nbsp;</a></p>
      <mark>主編 <br>
        Managing Editor</mark>
      <h4>張婉怡<br>
        Stacy Chang</h4>
      <p> <a href="mailto:stacy@condenast.com.tw" class="mailto">stacy@condenast.com.tw</a><br>
        <a>&nbsp;</a></p>
      <mark>網站編輯<br>
        Website Editor</mark>
      <h4>徐嘉偉<br>
        Jasper Hsu</h4>
      <p> <a href="mailto:jasper@condenast.com.tw" class="mailto">jasper@condenast.com.tw</a><br>
        <a>&nbsp;</a></p>
      <mark>網站編輯<br>
        Website Editor</mark>
      <h4>陳韋馨<br>
        Angela Chen</h4>
      <p> <a href="mailto:angela@condenast.com.tw" class="mailto">angela@condenast.com.tw</a><br>
        <a>&nbsp;</a></p>
    </div>
    <div class="staffs">
      <h3></h3>
      <mark>廣告總監<br>
        Advertising Director</mark>
      <h4>邵壬卿<br>
        David Shao</h4>
      <p> <a href="mailto:davids@condenast.com.tw" class="mailto">davids@condenast.com.tw</a><br>
        <a>&nbsp;</a></p>
      <mark>視覺副總監<br>
        Deputy Art Director</mark>
      <h4>周青永<br>
        Jeter Chou</h4>
      <p> <a href="mailto:jeter@condenast.com.tw" class="mailto">jeter@condenast.com.tw</a><br>
        <a>&nbsp;</a></p>
      <mark>技術總監<br>
        Technical Director</mark>
      <h4>馬源朗<br>
        Marsan Ma</h4>
      <p> <a href="mailto:marsan@condenast.com.tw" class="mailto">marsan@condenast.com.tw</a><br>
        <a>&nbsp;</a></p>
      <mark>整合行銷顧問<br>
        Integrated Marketing Consultant</mark>
      <h4>吳憲政<br>
        David Wu</h4>
      <p> <a href="mailto:davidwu@condenast.com.tw" class="mailto">davidwu@condenast.com.tw</a><br>
        <a>&nbsp;</a></p>
    </div>
  </div>
</section>
