<h3><%= @title %></h3>
<ul id="infinite_chips" class="post-list clearfix" bdata="posts" btype="<%= @branch[0] %>" bname="<%= @branch[1] %>" lastload="0">
  <%= render @posts %>
</ul>

<div id="loading_icon"></div>
<div id="infinite_ending"></div>
