<%= render "cpanel/dashboard/overview" %>

<div class='dashboard-left'>
  <%= render "cpanel/dashboard/welcome" %>
  <%= render "cpanel/dashboard/inbound" %>
</div>

<div class='dashboard'>
  <%= render "cpanel/dashboard/comments" %>
</div>

