<div id="message" class="wrapper"><a href="#content_outer" style="display: block;">Back to top</a></div>
<footer class="siteFooterWrapper fullwidth"> <i class="triangle-grey sprite"></i>
  <ul class="serviceLinks ">
    <li><a href="/magazine/">雜誌訂閱</a></li>
    <li><a href="/club/privacy/" target="_blank">隱私聲明</a></li>
    <li><a href="/contact.asp" target="_blank">聯絡我們</a></li>
    <li><a href="mailto:gqad@condenast.com.tw">廣告刊登</a></li>
    <li><a href="/digital-masthead" target="_blank">網路團隊</a> </li>
    <li><a target="_blank" href="http://www.condenast.com.tw/career/">尋找人才</a></li>
  </ul>
  <div class="siteFooterContent">
    <div class="topContent">
      <div class="magazineSubscribe sprite clr"></div>
      <div class="linkSection">
        <div class="gqLogo sprite"></div>
        <div class="gq_international">
          <ul>
            <li>
              <h6>GQ International</h6>
            </li>
            <li><a href="http://www.gq.com.au/" title="Australian GQ">Australia</a></li>
            <li><a href="http://www.gqitalia.it/" title="Italian GQ">Italy</a></li>
            <li><a href="http://www.gq.co.za/" title="South African GQ">South Africa</a></li>
            <li><a href="http://www.gq.globo.com/" title="Brazilian GQ">Brazil</a></li>
            <li><a href="http://www.gqjapan.jp/" title="Japanese GQ">Japan</a></li>
            <li><a href="http://www.revistagq.com/" title="Spanish GQ">Spain</a></li>
            <li><a href="http://www.gq.com.cn/" title="Chinese GQ">China</a></li>
            <li><a href="http://www.style.co.kr/gq/" title="Korean GQ">Korea</a></li>
            <li><a href="http://www.gq.com.tr/" title="Turkish GQ">Turkey</a></li>
            <li><a href="http://www.gqmagazine.fr/" title="French GQ">France</a></li>
            <li><a href="http://www.gq.com.mx/" title="Mexico">Mexico</a></li>
            <li><a href="http://www.gq-magazine.co.uk/" title="UK">U.K.</a></li>
            <li><a href="http://www.gq-magazin.de/" title="German GQ">Germany</a></li>
            <li><a href="http://www.xl.pt/mrkt/gq/" title="Portugese GQ">Portugal</a></li>
            <li><a href="http://www.gq.com/?us_site=y" title="American GQ">U.S.</a></li>
            <li><a href="http://www.gqindia.com/" title="Indian GQ">India</a></li>
            <li><a href="http://www.gq.ru/" title="Russian GQ">Russia</a> </li>
            <div class="clearAll"></div>
          </ul>
        </div>
        <div class="clearAll"></div>
      </div>
      <div class="linkSocail">
        <div class="wired_international">
          <ul>
            <li>
              <h6>WIRED International</h6>
            </li>
            <li><a href="http://www.wired.it/" target="_blank">Italy</a></li>
            <li><a href="http://www.wired.co.uk/" target="_blank">U.K.</a></li>
            <li><a href="http://wired.jp/" target="_blank">Japan</a></li>
            <li><a href="http://www.wired.com/" target="_blank">U.S.</a></li>
            <div class="clearAll"></div>
          </ul>
        </div>
        <div class="socialFacebook sprite">
          <a href="https://www.facebook.com/WIRED.tw" target="_blank" style="color: white;"> FACEBOOK
            <p>
              <div class="fb-like" data-href="https://www.facebook.com/WIRED.tw" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            </p>
          </a>
        </div>
        <div class="clearAll"></div>
      </div>
      <div class="clearAll"></div>
    </div>
  </div>
  <div class="copyRightWrapper">
    <div class="leftSection">
      <div class="condenastDigital sprite"><a href="/" target="_self"></a> </div>
      <div class="copyRight">©2013康泰納仕時尚網版權所有，本註冊商標由美商康泰納仕亞太有限公司授權康泰納仕時尚網有限公司使用</div>
    </div>
    <ul class="rightSection">
      <li><a href="/" target="_self">ASSOCIATE SITES</a> </li>
      <li class="sprite-vogue sprite"><a href="http://www.vogue.com.tw/" target="_self"></a> </li>
      <li class="sprite-wired sprite"><a href="http://www.gq.com.tw/wired/" target="_self"></a> </li>
    </ul>
    <div class="clearAll"></div>
  </div>
</footer>

<div id="fb-root"></div>