<div class="headerContainer">
  <div class="GQ_Logo sprite-logo"><a href="/" title="GQ男人網">GQ男人網 </a> </div>
  <div class="slogan"> <span class="slogan-1">It's good to</span> <span class="slogan-2">be a man</span> </div>
  <div class="subscribe"> <a href="http://www.gq.com.tw/magazine/" target="_blank" title="立即訂閱"></a> </div>
  <div class="social_icon"> 
    <a class="icon" href="https://www.facebook.com/GQTaiwan"><i class="fa fa-facebook"></i></a> 
    <a class="icon" href="https://plus.google.com/100186952475982511979"><i class="fa fa-google-plus-square"></i></a> 
    <a class="icon" href="http://www.youtube.com/Gqtaiwan"><i class="fa fa-youtube"></i></a> 
    <a class="icon" href="http://www.pinterest.com/condenasttw/gq-taiwan"><i class="fa fa-pinterest"></i></a> 
  </div>
</div>
