<header id="gq_header" class="clr  clearfix">
  <%= render 'layouts/gq_header' %>
  <%= render "shared/navbar/navbar" %>
</header>
<!-- <div class="title-container">
  <header class="wrapper clearfix">
    <blockquote>
      <a href="/"><h2>Wired Taiwan</h2></a>
      <p>Insight × Connection</p>
    </blockquote>
    <div id="header-ad">
      <img src="http://wiredtw.s3.amazonaws.com/wp-content/uploads/2013/08/550x90-insider.jpg" width="100%">
    </div>
  </header>
</div>
 -->