<div class="box">
  <div class="divider_cap"><span>Vendor Test</span></div>
  <%= vendor_test(params) %>
</div>

<!-- auto-adjust iframe height, but not work for cross-domain iframe due to security policy. -->
<script language="javascript">
  function SetWinHeight(obj) { 
    var win=obj; 
    if (document.getElementById) { 
      if (win && !window.opera) { 
        if (win.contentDocument && win.contentDocument.body.offsetHeight) 
          win.height = win.contentDocument.body.offsetHeight; 
        else if(win.Document && win.Document.body.scrollHeight) 
          win.height = win.Document.body.scrollHeight; 
      } 
    } 
  } 
</script>

