<div id="event_chapters">
  <div class="divider_cap"><span>Wired Features</span></div>
  <% @features.each do |i| %>
    <%= render "features/chapter", :i => i %>
  <% end %>
</div>


<script>
jQuery(function($){
  $("a").each(function(i) { 
    var link = $(this).attr("href");
    link = link.replace(/beta\.wired/, 'wired');
    $(this).attr("href", link);
  });
});
</script>
